<aside class="alert alert-dismissible fade show text-bg-dark rounded-0" role="alert" aria-label="全站 HTTPS 安全证书广告" data-bs-theme="dark">
    <div class="text-center">
        <p class="fs-2 lh-lg">🔒 安全，如你所愿</p>
        <p class="fs-2 lh-lg">免费申请，全站 HTTPS，从容启程</p>
        <a class="btn btn-primary" role="button" href="https://anssl.cn/register" target="_blank" rel="noopener">立即获取</a>
    </div>
    <span>
        <i class="bi bi-badge-ad text-secondary" aria-hidden="true"></i>
        <span class="visually-hidden">广告</span>
    </span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="关闭广告"></button>
</aside>