<footer class="py-4 mt-5 bg-body-tertiary">
    <div class="text-center">
        <p class="mb-2">
            <i class="bi bi-c-circle px-1"></i>{{ site.time | date: "%Y" }} AnSSL · 免费 SSL 证书
        </p>
        <p class="small">
            <a href="mailto:contact@anssl.cn" class="text-decoration-none link-body-emphasis">联系我们</a> |
            <a href="https://anssl.cn" class="text-decoration-none link-body-emphasis" target="_blank">访问官网</a> |
            <a href="/feed.xml" class="text-decoration-none link-body-emphasis" target="_blank">
                <i class="bi bi-rss me-1"></i>RSS订阅
            </a>
        </p>
    </div>
</footer>
