<nav class="navbar navbar-expand-lg border-bottom">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand navbar-text" href="{{ '/' | relative_url }}">
                <i class="bi bi-shield-fill-check me-1 text-success fs-4"></i>{{ site.title }}
            </a>
            <div class="d-flex align-items-center">
                {%- unless page.url == '/' -%}
                <button id="layout-toggle" class="btn btn-link px-3 text-body-emphasis d-none d-md-inline-flex" type="button" aria-label="切换布局宽度">
                    <i class="bi bi-arrows-fullscreen" id="layout-icon"></i>
                </button>
                {%- endunless -%}
                <button id="theme-toggle" class="btn btn-link text-body-emphasis" type="button" aria-label="切换主题">
                    <i class="bi bi-sun-fill text-warning" id="theme-icon"></i>
                </button>
            </div>
        </div>
    </div>
</nav>