<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <!-- <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({id:"KC9wJgSCBUg4ukNc",ck:"KC9wJgSCBUg4ukNc"})</script> -->
    <script src="{{ '/assets/js/color-theme.js' | relative_url }}"></script>
    {% seo %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
    <script src="{{ '/assets/js/highlight.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/copy.js' | relative_url }}"></script>
</head>

<body{% if page.url == '/' %} class="is-home"{% endif %}>
    {% include nav.html %}
    {% include ad.html %}
    <main class="container-fluid">
        <!-- <div class="container{% unless page.url == '/' %} layout-width{% endunless %}"> -->
            {{ content }}
        <!-- </div> -->
    </main>

    {% include footer.html %}
    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/tool.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/pageTool.js' | relative_url }}"></script>
</body>

</html>